*{
    box-sizing: border-box; /* force la taille de la box sans padding margin */
}

#fajitas
{   
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
#MainJeu
{
    display:flex;
    justify-content: space-around;
}
#J1
{
    width: 20%;
}
#J2
{
    width: 20%;
}
#symboleJ1,#symboleJ2
{
    font-size: 3em;
    font-weight: bold;
}
#Jeu
{
    background-color: lightcoral;
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    font-weight: bold;
}
.case
{   
    display:flex;
    align-items:center;
    justify-content: center;
    height:100px;
    width:100px;
    border: 1px solid black;
}