*{
    box-sizing: border-box; /* force la taille de la box sans padding margin */
}

#enchiladas
{   
    max-width: 1200px;
    margin: auto;
    text-align: center; 
    display:flex;
    flex-flow:wrap row;
    justify-content: center;

}
#mainjeu
{
    width:80%; 
}

#dessin
{
    margin: auto;
    width:50%;
}
#mot
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
}
.lettre
{
    padding:2px;
}

#texte
{   
    height: 6em;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.true
{
    color:green;
}
.false
{
    color:red;
}
.clavier.false, .clavier.true
{
    align-self: flex-end;
    cursor: default;
}
.clavier.false:hover, .clavier.true:hover
{
    font-size: 2em;
}

.clavier
{
    font-weight: bold;
    font-size: 2em;
    padding:2px;
    cursor: pointer;
    transition: 0.1s;
    transform-origin: bottom;
}
.clavier:hover
{
    font-size: 3em;
}
#reponse
{
    display:none;
}

#antimove
{
    max-height: 0px;
}
#resultat
{
    margin: auto;
    font-weight: bold;
    font-size: 2em;
    transition: 3s;
    max-width: 70%;
    font-size: 1em;
    transition: 1.5s;
}
#resultat.gagnant
{
    color: green;
}
#resultat.perdant
{
    color: red;
}
#resultat.gagnant,#resultat.perdant
{
    transform: translateY(-220px) rotate(1050deg);
    font-size: 10em;
}
#replay
{
    visibility: hidden;
    color: red;
    background-color: white;
    padding: 10px;
    border: none;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    animation: cocainexpress 1s ease-in-out infinite alternate;
    
}
#replay.clic
{
    animation: getOut 3s forwards;
    
}
#animbox
{
    overflow: hidden;
    margin-left: 70%;
    width : 20%;
    height: 150px;
    display: flex;
    justify-content: center;
}
@keyframes cocainexpress
{   from
    {
        text-shadow:  0 0 20px rgb(168, 83, 4),0 0 30px rgb(168, 83, 4), 0 0 40px rgb(168, 83, 4), 0 0 50px rgb(168, 83, 4), 0 0 60px rgb(168, 83, 4),0 0 70px rgb(168, 83, 4);
        transform:rotate(-30deg);
    }
    to
    {
        text-shadow:  0 0 10px red,0 0 20px red,0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red,0 0 70px red;
        transform:rotate(30deg);
        color: yellowgreen;
    }
}
@keyframes getOut
{
    from
    {
    }
    to
    {
        transform:translateX(400px) rotate(9000deg);
    }
}