*{
    box-sizing: border-box; /* force la taille de la box sans padding margin */
}

#enchiladas
{   
    max-width: 1200px;
    margin: auto;
    text-align: center; 
    display:flex;
    flex-flow:wrap row;
    justify-content: center;

}
#mainjeu
{
    width:80%; 
}

#dessin
{
    margin: auto;
    width:50%;
}
#mot
{
    padding-top: 1em;
    padding-bottom: 1em;
}
.lettre
{
    padding:2px;
}

#texte
{   
    height: 6em;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.true
{
    color:green;
}
.false
{
    color:red;
}
.clavier.false, .clavier.true
{
    
    align-self: flex-end;
    cursor: default;
}
.clavier.false:hover, .clavier.true:hover
{
    font-size: 2em;
}

.clavier
{
    font-weight: bold;
    font-size: 2em;
    padding:2px;
    cursor: pointer;
    transition: 0.1s;
    transform-origin: bottom;
}
.clavier:hover
{
    font-size: 3em;
}
#reponse
{
    display:none;
}
#resultat
{
    position:absolute;
    font-weight: bold;
    font-size: 2em;
    transition: 3s;
}
#resultat.gagnant
{
    color: green;
}
#resultat.perdant
{
    color: red;
}
#resultat.gagnant,#resultat.perdant
{
    transform: translate(200px,-100px) rotate(1010deg);
    font-size: 10em;
}