*{
    box-sizing: border-box; /* force la taille de la box sans padding margin */
}

#galette
{   
    max-width: 1200px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

#grille
{
    width: 800px;
    min-width: 800px;
    display: flex;
    flex-wrap: wrap;
}
.case
{
    width: 100px;
    height: 100px;
    background-color: white;
    border: black 1px solid;
}

.case img
{
    transition: 0.4s;
}
.case img:hover
{
    transform :scale(1.2) ;
    transform-origin: top;
}
